:root {
  --main-text-color: #212121;
  --main-backgroundcolor: #FFFFFF;
  --logo-color: #2196F3;

}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-text-color);
  background-color: var(--main-backgroundcolor);
}

ul,
h1,
h2,
input,
h3,
p {
  margin: 0;
  padding: 0px;
}

.link {
  text-decoration: none;
}

/* Header Section */

/* .page-header {
  display: flex;
  border-bottom: 1px solid #ECECEC;
  height: 80px;
  align-items: center;
  flex-direction: row;
  width: 100%;
}


.navigation {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.navigation--right {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: flex-end;
}

.navigation,
.header-navigation {
  flex-grow: 1;
}

.active-link {
  position: relative;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-link::after {
  content: "";
  border: 2px solid #2196F3;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -32px;
  visibility: hidden;
  border-radius: 4px;
}

.active-link::after {
  visibility: visible;
}

.navigation__item__elements {
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__item__image {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #757575;
}

.navigation__item__image:hover {
  fill: var(--logo-color);
}

.navigation-elements:hover {
  color: var(--logo-color);
}

.navigation-elements:focus {
  color: var(--logo-color);
} */

/* .contact-list {
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.contact-list:hover {
  color: var(--logo-color);
}

.contact-list:focus {
  color: var(--logo-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--main-text-color);
  margin-right: 93px;

}

.logo::before {
  content: "Web";
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  text-decoration: none;
} */

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.undecorated-list {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0px auto;
} */

/* Portofolio Filter Section*/

.portofolio-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}


/* .filter-list {
  cursor: pointer;
  background: #F5F4FA;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 6px 22px;
}

.filter-list:hover {
  background-color: var(--logo-color);
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-list:focus {
  background-color: var(--logo-color);
  color: #FFFFFF;
} */

/* Card Section*/

/* .grid--border {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
  border-bottom: 1px solid #ECECEC;
  border-right: 1px solid #ECECEC;
  border-left: 1px solid #ECECEC;
}

.grid--border:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
} */
/* .card-1 {
  height: 294px;
  overflow: hidden;
  position: relative;
}

.card-1__image {
  width: 370px;
  list-style: none;
  overflow-clip-margin: content-box;
  overflow: clip;
} */

/* .card-1:hover .image-overlay {
  transform: translateY(0px);
} */
/* .image-overlay {
  height: 294px;
  width: 370px;
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms linear;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  padding: 60px 30px;
  color: #ffffff;
} */

/* .card-2 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}



.card-2__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-left: 24px;
}

.card-2__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 20px;
  margin-top: 4px;
  margin-left: 24px;
} */

/* StudioSection*/


/* .section--hero {
  background: #2F303A;
  box-sizing: border-box;
  display: flex;
  height: 600px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url("../images/people_at_desk.jpg");
} */

/* .hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

/* .hero-section__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 696px;
  margin-bottom: 30px;
} */

/* .request-button {
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  cursor: pointer;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  padding: 10px 19px 10px 20px;
} */

/* Modal section */

/* .backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, transform 1s linear;
  z-index: 100;
} */

/* .modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0px 0px 12px 0px;
} */

/* .modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  padding: 40px;
} */

/* .close {
  float: right;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
} */

/* .is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
} */

/* .information-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.information-form__item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  position: relative;
} */

/* .information-form__item__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  outline: none;
  padding-left: 42px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .form-data:focus {
  border: 1px solid #2196F3;
} */

/* .form-data:focus+svg {
  fill: var(--logo-color);
} */

/* .information-form__item__image {
  position: absolute;
  top: 50%;
  left: 15px;
}

.information-form__item__image:focus {
  fill: var(--logo-color);
} */

/* .comments {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.terms-and-conditions {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  align-self: center;
  display: flex;
  margin-top: 10px;
  position: relative;
} */

/* .replace-checkbox {
  width: 16px;
  height: 16px;
  border: 2px solid black;
  border-radius: 2px;
  margin-right: 8px;
} */

/* .terms-and-conditions__checkbox:checked+.replace-checkbox {
  background-color: var(--logo-color);
  border-color: var(--logo-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .terms-and-conditions__checkbox:checked+.replace-checkbox+svg {
  opacity: 1;
} */

/* .terms-and-conditions__checkbox {
  margin-right: 7px;
  display: none;
} */

/* .terms-and-conditions__link {
  color: var(--logo-color);
} */

/* .terms-and-conditions__new-chechmark {
  position: absolute;
  width: 16px;
  height: 16px;
  fill: white;
  opacity: 0;
  left: 2.5px;
  top: 2.5px;
} */

/* .submit-button {
  background: #2196F3;
  border-radius: 4px;
  border-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  height: 50px;
  justify-content: center;
  margin-top: 30px;
  width: 200px;
  align-self: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
} */

/* Activities Section */

/* .grid {
  display: flex;
  gap: 30px;
  list-style: none;
  flex-wrap: wrap;
}

.grid--filter-section {
  gap: 8px;
  justify-content: center;
} */

/* .grid__item {
  flex-basis: calc(100% /4 - 30px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
} */


/* .activities-icons {
  background-color: #F5F4FA;
  width: 270px;
  height: 120px;
  border-radius: 4px;
}

.activities-icons__image {
  fill: currentColor;
} */

/* .activities-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.activities-description__title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
} */

/* .activities-description__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  width: 270px;
} */

/* WhatWeDo Section */

/* .what-we-do-section {
  padding-top: 0px;
}

.section-block {
  display: flex;
  flex-direction: column;
  gap: 50px;
} */

/* .grid--three {
  flex-basis: calc(100% /3 - 30px);
}

.grid--six {
  flex-basis: calc(100% /6 - 30px);
} */

/* .section-block__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
} */

/* .what-we-do-image-list {
  position: relative;
} */

/* .what-we-do-image-list__description {
  color: #FFFFFF;
  box-sizing: border-box;
  position: relative;
  bottom: 75px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* OurTeam Section */

/* .grid--our-team {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
} */

/* .section--our-team {
  background: #F5F4FA;
  width: 100%;
}

.team-member {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.member-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */

/* .member-description__name {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
} */

/* .member-description__job {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
} */

/* .grid-social-media {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.social-media--margin {
  margin-bottom: 30px;
} */


/* .grid-social-media__item {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}

.grid-social-media__item:hover {
  background: #2196F3;
  border-radius: 50%;

} */

/* .social-media-link {
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .social-media-link:hover {
  color: #FFFFFF;
} */

/* .social-media-icons {
  fill: currentColor;
} */

/* Customers Section */

/* .grid__item--border {
  background-color: #FFFFFF;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
} */

/* .customers-icons {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .grid__item--border:hover {
  border: 1px solid var(--logo-color);
} */

/* .customers-icons:hover {
  fill: var(--logo-color);
} */

/* Footer */

/* .page-footer {
  background: #2F303A;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 251px;
  align-items: center;
} */

/* .footer-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-block__title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
} */

/* .footer-items {
  display: flex;
  flex-direction: row;
  gap: 70px;
  align-items: baseline;
} */

/* .grid-social-media__item--background {
  background: rgba(255, 255, 255, 0.1);
} */

/* .social-media-icons--color {
  fill: #ffffff;
} */


/* .contact-list-footer {
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list--footer {
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .footer-list {
  display: flex;
  gap: 12px;
  flex-direction: column;
  margin-top: 28px;
} */

/* .adress {
  display: flex;
  gap: 28px;
  flex-direction: column;
}

.grid--footer {
  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: flex-start;
}

.logo--footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #FFFFFF;
}

.logo--footer:before {
  content: "Web";
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  text-decoration: none;
} */

/* .contacct-list--location {
  color: #FFFFFF;
}


.newsletter-form {
  display: flex;
  flex-direction: row;
  gap: 12px;
} */

/* .newsletter-form__email {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  height: 50px;
  width: 358px;
  background: transparent;
  padding-left: 16px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
} */

/* .newsletter-form__email:focus {
  border: 1px solid #2196F3;
} */

/* .newsletter-form__button {
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  width: 200px;
  height: 50px;
  border: 1px solid #2196F3;
  padding: 0px;
  gap: 25px;
  cursor: pointer;
} */