.grid {
  display: flex;
  gap: 30px;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    flex-basis: calc(100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }
}

@media screen and (min-width: 767px) {
  .grid__item {
    flex-basis: calc((100% - 2 * 30px) / 2);
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.activities-icons {
  background-color: #f5f4fa;
  width: 450px;
  height: 120px;
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__image {
    fill: currentColor;
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width: 480px) {
  .activities-icons {
    width: 93vw;
  }
}

@media screen and (min-width: 767px) {
  .activities-icons {
    width: 354px;
    height: 120px;
    position: relative;
  }
}

@media screen and (min-width: 1200px) {
  .activities-icons {
    width: 270px;
    height: 120px;
    position: relative;
  }
}

.activities-description {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-text-color;
    align-items: center;
  }

  &__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
  }
}
