.grid--border {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-left: 1px solid #ececec;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
}

.card-1 {
  height: 294px;
  overflow: hidden;
  position: relative;

  &__image {
    width: 370px;
    list-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
  }
  .image-overlay {
    height: 294px;
    width: 370px;
    position: absolute;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(101%);
    transition: transform 250ms linear;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    padding: 60px 30px;
    color: #ffffff;
  }
  &:hover {
    .image-overlay {
      transform: translateY(0px);
    }
  }
}

.card-2 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-left: 24px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 20px;
    margin-top: 4px;
    margin-left: 24px;
  }
}

.grid--cards {
  flex-basis: calc(100% - 30px);
  align-items: center;
}

@media screen and (min-width: 768px) {
  .grid--cards {
    flex-basis: calc(25% - 30px);
    width: 354px;
  }
  .card-1__image {
    width: 354px;
  }
}

@media screen and (min-width: 768px) {
  .grid--portofolio {
    justify-content: normal;
  }
}
