.page-footer {
  background: #2f303a;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-items {
  display: flex;
  flex-direction: row;
  gap: 70px;
  align-items: baseline;
}

@media screen and (max-width: 480px) {
  .footer-items {
    flex-direction: column;
    align-items: center;
  }
}

.footer-block {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__title {
    color: $main-backgroundcolor;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}

.grid-social-media__item--background {
  background: rgba(255, 255, 255, 0.1);
}

.social-media-icons--color {
  fill: $main-backgroundcolor;
}

.contact-list-footer {
  letter-spacing: 0.02em;
  color: $secondary-text-color;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list {
  display: flex;
  gap: 12px;
  flex-direction: column;
  margin-top: 28px;
}

.contact-list--footer {
  letter-spacing: 0.02em;
  color: $secondary-text-color;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress {
  display: flex;
  gap: 28px;
  flex-direction: column;
}

.grid--footer {
  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: flex-start;
}

.logo--footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $main-backgroundcolor;

  &::before {
    content: "Web";
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color);
    text-decoration: none;
  }
}

.contacct-list--location {
  color: $main-backgroundcolor;
}

.newsletter-form {
  display: flex;
  flex-direction: row;
  gap: 12px;

  &__email {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    height: 50px;
    width: 358px;
    background: transparent;
    padding-left: 16px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    outline: none;

    &:focus {
      border: 1px solid $logo-color;
    }
  }

  &__button {
    background: $logo-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    width: 200px;
    height: 50px;
    border: 1px solid $logo-color;
    padding: 0px;
    gap: 25px;
    cursor: pointer;
  }
}

@media screen and (max-width: 480px) {
  .newsletter-form {
    flex-direction: column;
    align-items: center;
  }
}
