.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  position: absolute;
  top: 22px;
  right: 16px;
}

@media screen and (min-width: 767px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #ffffff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 21px;
  right: 25px;
  fill: black;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.menu-navigation {
  display: flex;
  flex-direction: column;
  height: 700px;
}

.navigation--contact {
  flex-direction: column;
  align-items: normal;
  justify-content: flex-start;
}

.navgitaion__item--mobile {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;

  &:hover {
    color: $logo-color;
  }

  &:focus {
    color: $logo-color;
  }
}

.menu-contact {
  display: flex;
  flex-direction: column;
  gap: 64px;

  .navigation {
    gap: 32px;
  }
}

.contact-list--number {
  font-size: 34px;
  color: $logo-color;
}

.contact-list--mail {
  font-size: 24px;
}

.mobile-social {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 10px;
  span {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  &__item {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: $logo-color;
  }
}
