.grid--our-team {
  background: $main-backgroundcolor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .grid--our-team {
    align-items: center;
  }
}

.section--our-team {
  background: #f5f4fa;
  width: 100vw;
}

.team-member {
  display: flex;
  flex-direction: column;
  gap: 30px;
  img {
    width: 93vw;
  }
}
@media screen and (min-width: 480px) {
  .team-member {
    align-items: center;
  }
  .team-member img {
    width: 450px;
    height: 460px;
  }
}

@media screen and (min-width: 767px) {
  .team-member img {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team-member img {
    width: 270px;
    height: 260px;
  }
}

.member-description {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__name {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $main-text-color;
  }

  &__job {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
  }
}

.grid-social-media {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;

  &__item {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;

    &:hover {
      background: $logo-color;
      border-radius: 50%;
    }
  }
}

.social-media--margin {
  margin-bottom: 30px;
}

.social-media-link {
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: $main-backgroundcolor;
  }
}

.social-media-icons {
  fill: currentColor;
}
