.portofolio-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.filter-list {
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 6px 22px;

  &:hover {
    background-color: $logo-color;
    color: $main-backgroundcolor;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  &:focus {
    background-color: $logo-color;
    color: $main-backgroundcolor;
  }
}

.grid--filter-section {
  gap: 8px;
  justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .grid--filter-section {
    justify-content: center;
  }
}
